@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<input type="hidden" value="MVP" id='prev'>
<input type="hidden" value="/" id='next'>

<div style="font-size:10vh;text-align:center;">
    <div style="display:inline-block">
        Beware of<br />
        The Fat Controller<br />
    <img src="~/images/Fatty.jpg" style="height: 50vh;width: auto;"/>
    </div>
</div>


