@{
    ViewData["Title"] = "Home Page";
}

<input type="hidden" value="Home/MVC" id='next'>
<input type="hidden" value="/" id='prev'>

<div style="text-align:center">
    <img src="~/images/whatis.svg"/>
 </div>
