@model MVC_Demo.Models.MVCModel
<input type="hidden" value="/" id='prev'>
<input type="hidden" value="SmartUI" id='next'>
<div style="text-align:center">
    <img src="~/images/mvc.svg" alt="mvc">
</div>

@Model.Hello