@model MVC_Demo.Models.MVCModel
<input type="hidden" value="SmartUI" id='prev'>
<input type="hidden" value="Fat" id='next'>
<div style="text-align:center">
    <img src="~/images/mvp.svg" alt="mvc">
</div>